@model ClothesShop.Models.CreateAccountViewModel
@{
    ViewBag.Title = "Profile";
    Layout = "~/Views/Shared/_Layout.cshtml";


}
<link href="~/Content/assets/styles/main_styles.css" rel="stylesheet" type="text/css" />
<style>

    .m-df {
        
        padding: 20px;
        margin: 20px;
        /*margin-left: 300px;*/
        border: groove 2px #dee2e6;
        border-radius: 10px;
        width: 60%
    }
    a, input {
        outline: medium none;
        color: #000000;
    }
   /* .button-account {
        padding: 7px 42px;
        background: transparent;
        border-color: #fff;
        color: black;
    }*/

    .button {
        background: transparent;
        
        display: inline-block;
        border: 1px solid #fff;
        text-decoration: none !important;
        color: black;
        transition: all .4s ease;
    }

        .button:hover {
            border: none;
            background-color: black;
            color: white;
        }
</style>

<div class="container ">

    <div >
        @using (Html.BeginForm("Profile", "Account", FormMethod.Post, new { id = "profileForm" }))
        {
            @Html.ValidationSummary(false)
            @Html.AntiForgeryToken()
            <a href="/Account/ShoppingHistory">Xem Chi tiết đơn đặt hàng</a>
            <div class="d-flex justify-content-center align-items-center">
                <div class=" d-flex justify-content-center align-items-center flex-column m-df">
                    <div class="form-group mt-2 col-8">
                        <label for="exampleInputEmail1">Họ và tên</label>
                        <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name="FullName" value="@Model.FullName">
                    </div>
                    <div class="form-group col-8">
                        <label for="exampleInputEmail1">Tên người dùng</label>
                        <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name="UserName" value="@Model.UserName" readonly>
                    </div>
                    <div class="form-group col-8">
                        <label for="exampleInputEmail1">SĐT</label>
                        <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name="Phone" value="@Model.Phone">
                    </div>
                    <div class="form-group col-8">
                        <label for="exampleInputEmail1">Email</label>
                        <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name="Email" value="@Model.Email" readonly>
                    </div>
                    <div class="form-group mt-2">
                        <button type="submit" class="btn button ">Cập nhật</button>
                    </div>
                </div>
            </div>
        }



    </div>
</div>

@section scripts{
    <script>
        $(document).ready(function () {
            
            $('#profileForm').on('submit', function (event) {
                event.preventDefault();
                var formData = $(this).serialize();
                $.ajax({
                    url: this.action,
                    type: this.method,
                    data: formData,
                    success: function (response) {
                        
                        if (response.tb) {
                            alert("Cập nhật thông tin cá nhân thành công");
                        }
                        else {
                            alert("Cập nhật thông tin cá nhân thất bại");
                        }
                    },
                    error: function () {
                        alert("Error processing your request.");
                    }
                });
            });
        });
    </script>
}
