@model ClothesShop.Models.CreateAccountViewModel
@{
    ViewBag.Title = "Register";
}
<style>
    .button-account {
        padding: 7px 42px;
        background: transparent;
        border-color: #fff;
    }

    .button {
        display: inline-block;
        border: 1px solid #fff;
        border-radius: 30px;
        font-weight: 500;
        text-decoration: none !important;
        color: #fff;
        transition: all .4s ease;
    }
    .button:hover{
        border: none;
        background-color: black;
        color: white;
          
    }
</style>

<main aria-labelledby="title" class="vh-100 d-flex align-items-center justify-content-center">
    <div class="row bg-light border rounded shadow w-75">
        <div class="col-md-8 p-5 pr-0">
            <section id="loginForm">
                @using (Html.BeginForm("Register", "Account", FormMethod.Post, new { role = "form" }))
                {
                    @Html.AntiForgeryToken()

                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    @*@Html.HiddenFor(m => m.Role, new { @class = "form-control" })*@

                    <div class="row m-1">
                        @Html.LabelFor(m => m.UserName, new { @class = "col-md-4 col-form-label" })
                        <div class="col-md-8">
                            @Html.TextBoxFor(m => m.UserName, new { @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.UserName, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="row m-1">
                        @Html.LabelFor(m => m.FullName, new { @class = "col-md-4 col-form-label" })
                        <div class="col-md-8">
                            @Html.TextBoxFor(m => m.FullName, new { @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.FullName, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="row m-1">
                        @Html.LabelFor(m => m.Email, new { @class = "col-md-4 col-form-label" })
                        <div class="col-md-8">
                            @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="row m-1">
                        @Html.LabelFor(m => m.Phone, new { @class = "col-md-4 col-form-label" })
                        <div class="col-md-8">
                            @Html.TextBoxFor(m => m.Phone, new { @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.Phone, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="row m-1">
                        @Html.LabelFor(m => m.Password, new { @class = "col-md-4 col-form-label" })
                        <div class="col-md-8">
                            @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="row m-1">
                        @Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-md-4 col-form-label" })
                        <div class="col-md-8">
                            @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="row m-3 ">
                        <div class="offset-md-3 col-md-5">
                            <input type="submit" value="Đăng ký" class="btn btn-outline-dark" />
                        </div>
                    </div>

                }
            </section>
        </div>
        <div class="col-md-4 d-flex align-items-center justify-content-center" style="background-color: #384aeb;">
            <section id="socialLoginForm" class="p-2">
                <h5 class="text-white p-">Bạn đã có tài khoản</h5>
                <a href="@Url.Action("Login")" class="button button-account">Đăng nhập ngay</a>
                @*@Html.ActionLink("Đăng nhập ngay", "Login", new { @class = "button button-account" })*@
            </section>
        </div>
    </div>
</main>



@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
