@model IEnumerable<ClothesShop.Models.EF.ProductCategory>

<div class="card-body">
    <table class="table table-hover">
        <thead>
            <tr>
                <th>STT</th>
                <th>Tên danh mục</th>
                <th>Trạng thái</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @if (Model != null && Model.Any())
            {
                var i = 1;
                foreach (var item in Model)
                {
                    ViewBag.IdPar = item.Id;
                    <tr id="trow_@item.Id">
                        <td>@i</td>
                        <td>@item.Title</td>
                        <td>
                            @if (item.IsActive == 1)
                            {
                                <a href="@Url.Action("SetIsActive","ProductCategories", new { id = item.Id })" class="btn-sm btn-success"><i class="fa fa-toggle-on"></i></a>

                            }
                            else if (item.IsActive == 2)
                            {
                                <a href="@Url.Action("SetIsActive","ProductCategories", new { id = item.Id })" class="btn-sm btn-danger"><i class="fa fa-trash" aria-hidden="true"></i></a>

                            }
                        </td>
                        <td>
                            <a href="/Admin/ProductCategories/Edit/@item.Id" class="btn btn-sm btn-primary"><i class="fa fa-pencil" aria-hidden="true"></i></a>
                            <a href="/Admin/ProductCategories/Delete/@item.Id" data-id="@item.Id" class="btn btn-sm btn-danger btnDelete"><i class="fa fa-trash"></i></a>
                            <a href="/Admin/ProductCategories/Create/@item.Id" class="btn btn-sm btn-primary"><i class="fa fa-plus" aria-hidden="true"></i></a>
                            <a href="/Admin/ProductCategories/Details/@item.Id" class="btn btn-sm btn-primary"><i class="fa fa-eye" aria-hidden="true"></i></a>
                        </td>
                    </tr>
                    ++i;
                }
            }
            else
            {
                <tr>
                    <td colspan="4">Không có bản ghi nào!!!</td>
                </tr>
            }
        </tbody>
    </table>
</div>