@model ClothesShop.Models.EF.ProductCategory

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h2>Chi tiết</h2>

<section class="content">

    <div class="card-body">
        <div class="row">
            <label>Tên</label>
            <p class="form-control">@Model.Title</p>
        </div>
        <div class="row">
            <label>Alias</label>
            <p class="form-control">@Model.Alias</p>
        </div>
        <div class="row">
            <label>Mô tả</label>
            <p class="form-control">@Model.Description</p>
        </div>
    </div>
    <!-- /.card-body -->
    <h3>Danh mục con</h3>
    @Html.Action("DetailPartialChildren", "ProductCategories", new { id = Model.Id })

    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
        @Html.ActionLink("Back to List", "Index")
    </p>
 </section>
