@model IEnumerable<ClothesShop.Models.EF.CartDetail>
@{
    ViewBag.Title = "Giỏ hàng";
    Layout = "~/Views/Shared/_Layout.cshtml";


}
<div class="wrapper cart">


    <!--cart-checkout-area start -->
    @{
        var totalMoney = 0;
        <div class="cart-checkout-area  pt-30">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="product-area">
                            <div class="title-tab-product-category row">
                                <div class="col-lg-12 text-center pb-60">

                                </div>
                            </div>
                            <div class="clearfix"></div>
                            <div class="content-tab-product-category pb-70">
                                <!-- Tab panes -->
                                <div class="tab-content">
                                    <div role="tabpanel" class="tab-pane fade show active" id="cart">
                                        <!-- cart are start-->
                                        <div class="cart-page-area">
                                            <form method="post" action="#">
                                                <div class="table-responsive mb-20">
                                                    <table class="shop_table-2 cart table">
                                                        <thead>
                                                            <tr>
                                                                <th class="product-thumbnail "></th>
                                                                <th class="product-name ">Tên sản phẩm</th>
                                                                <th class="product-price ">Giá mua</th>
                                                                <th class="product-quantity">Số lượng</th>
                                                                <th class="product-subtotal ">Tổng tiền</th>
                                                                <th class="product-remove">Thao tác</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            @if (Model != null)
                                                            {

                                                                foreach (var p in Model)
                                                                {
                                                                    var imgUrl = p.VariantSize.ProductVariant.ImageLists.FirstOrDefault(x => x.IsDefault).ImageUrl;
                                                                    var money = p.Quantity * p.VariantSize.ProductVariant.Product.PriceSale;
                                                                    totalMoney += money;
                                                                    <tr class="cart_item" id="trow_@p.Id">
                                                                        <td class="item-img">
                                                                            <a href="/Product/Detail/@p.VariantSize.ProductVariant.Product.Id">
                                                                                <img src="@imgUrl"
                                                                                     alt="">
                                                                            </a>
                                                                        </td>
                                                                        <td class="item-title">
                                                                            <a href="/Product/Detail/@p.VariantSize.ProductVariant.Product.Id">
                                                                                @p.VariantSize.ProductVariant.Product.Title
                                                                            </a>
                                                                        </td>
                                                                        <td class="item-price">
                                                                            <p style="text-decoration: line-through;">@p.VariantSize.ProductVariant.Product.Price</p>
                                                                            <p>@p.VariantSize.ProductVariant.Product.PriceSale</p>
                                                                        </td>
                                                                        <td class="item-qty">
                                                                            <div class="cart-quantity">
                                                                                <div class="product-qty">
                                                                                    <div class="cart-quantity">
                                                                                        <div class="cart-plus-minus">
                                                                                            <div class="dec qtybutton" data-id="@p.Id">-</div>
                                                                                            <input value="@p.Quantity"
                                                                                                   name="qtybutton"
                                                                                                   class="cart-plus-minus-box "
                                                                                                   type="text"
                                                                                                   id="qtyInput_@p.Id"
                                                                                                   data-id="@p.Id">
                                                                                            <div class="inc qtybutton" data-id="@p.Id">+</div>
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </td>
                                                                        <td class="total-price" id="money_@p.Id">
                                                                            <strong id="money_@p.Id">@money</strong>
                                                                        </td>
                                                                        <td class="remove-item">
                                                                            <a href="#" data-id="@p.Id" class="btn btn-sm  btnDelete">
                                                                                <i class="fa fa-trash-o"></i>
                                                                            </a>
                                                                        </td>
                                                                    </tr>
                                                                }
                                                            }
                                                            else
                                                            {
                                                                <p></p>
                                                            }

                                                        </tbody>
                                                    </table>
                                                </div>


                                                <div class="cart-bottom-area">
                                                    <div class="row">
                                                        <div class="col-lg-8 col-md-7">
                                                            <div class="update-coupne-area">
                                                                <div class="update-continue-btn text-end pb-20">

                                                                    <a href="#" class="btn-def btn2">
                                                                        Continue
                                                                        Shopping
                                                                    </a>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-lg-4 col-md-5">
                                                            <div class="cart-total-area">
                                                                <div class="sub-shipping" id="totalMoney">
                                                                    <p>Tổng tiền <span>@totalMoney</span></p>
                                                                </div>
                                                                <div class="process-checkout-btn text-end">
                                                                    <a class="btn-def btn2" href="#">
                                                                        Process To
                                                                        Checkout
                                                                    </a>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                        <!-- cart are end-->
                                    </div>
                                   
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
    <!--cart-checkout-area end-->

</div>
@section scripts{
    <script>
        $(document).ready(function () {

                $('.btnDelete').click(function () {
                var id = $(this).data("id");
                var conf = confirm('Bạn có muốn xóa sản phẩm này không?');
                if (conf === true) {
                    $.ajax({
                        url: '/ShoppingCart/delete',
                        type: 'POST',
                        data: { id: id },
                        success: function (rs) {
                            if (rs.Success) {
                                $('#trow_' + id).remove();
                            }
                        }
                    });
                }
            });
            $('body').on('click', '.qtybutton', function () {
                var id = $(this).data("id");
                var quantity = document.getElementById('qtyInput_' + id).value;
                $.ajax({
                    url: '/ShoppingCart/UpdateQuantity',
                    type: 'POST',
                    data: { id: id, quantity: quantity },
                    success: function (rs) {
                        if (rs.Success) {
                            var money = '<strong id="money_' + id + '"' + '>' + rs.money + '</strong>';
                            $('#money_' + id).html(money);
                            var totalMoney = '<p>Tổng tiền <span>' + rs.totalMoney + '</span></p>';
                            $('#totalMoney').html(totalMoney);
                        }
                    }
                });
            });


        });
    </script>
}